@import '/src/styles/base/mixins';
@import '/src/styles//base/variables';

.collabarator {
  width: 100%;
  font-family: $font-roboto;
  background: #fff;

  &_header {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom: 1px solid rgb(222, 222, 222);
    padding: 10px 15px;
  }
  
  &_footer {
    background: rgb(235, 235, 235);
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-right: 15px;
    
    > div > button {
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: 600;
      width: 75px;
      height: 50px;
      
      &:hover {
        background: rgb(225, 225, 225);
      }
    }
  }

  .user {
    display: flex;
    align-items: center;
    font-size: 11px;
    padding: 7.5px 18px;

    &_text {
      display: flex;
      flex-direction: column;
      line-height: 15px;
      color: rgb(75, 75, 75);
      width: 84%;
      margin-right: 25px;
  
      > input {
        font-size: 12px;
        border: 0 solid transparent;
      }
    }
  
    &_title {
      color: #000;
      font-weight: 600;
      letter-spacing: 1px;
      font-size: 12px;
    }

    &_img {
      width: 35px;
      height: 34px;
      border-radius: 50%;
      margin-right: 10px;
      padding: 1px;
      box-shadow: 0 0 3px rgb(150, 150, 150);
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
  
      svg {
        width: 16px;
        height: 16px;
      }
  
      &.icon {
        box-shadow: 0 0 3px #fff;
        border: 1px solid rgb(150, 150, 150);
      }
    }

    &_confirm {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }

  .message {
    font-size: 12px;
    color: #f00;
    padding: 0 65px;
    line-height: 12px;
  }

  .suggestions {
    font-size: 12px;
    color: #000;
    background: rgb(225, 225, 225);
    line-height: 12px;
    cursor: pointer;
    
    &_item {
      padding: 5px 65px;
      border: 1px solid rgba(0, 0, 0, 0.5);
    }
  }
}
