@import '/src/styles/base/mixins';
@import '/src/styles//base/variables';

.linkfy {
  display: inline-flex;
  flex-direction: column;
  position: relative;

  .tooltip {
    background: #202124;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    padding: 4px 12px;
    position: absolute;
    top: 18px;
    border-radius: 8px;
    display: none;
    visibility: hidden;
    cursor: pointer;
    font-size: 13px;
    width: fit-content;

    > span {
      color: #e8eaed;
    }
  }

  &:hover .tooltip {
    display: initial;
    visibility: visible;
    z-index: 500;
  }

  .link {
    color: $color-blue;
    text-decoration: underline;
  }
}


.link {
  color: $color-blue;

  .tooltip {
    position: absolute;
  }
}
