@import '/src/styles/base/mixins';
@import '/src/styles//base/variables';

.avatar {
  cursor: pointer;
  display: inline-flex;
  border-radius: 50%;

  img {
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
}

.img_avatar {
  cursor: pointer;
  display: inline-block;
  border: 5px solid transparent;
  border-radius: 50%;

  img {
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
}
