@import '/src/styles/base/mixins';
@import '/src/styles//base/variables';

.main {
  padding: auto;

  &_input {
    padding: 0;
    box-shadow: 0 1px 1px 0 #94969b, 0 1px 3px 1px #d0d2d3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 15px;
    overflow: hidden;
    margin: 7px;
    width: 100%;
    max-width: 100%;
    position: relative;

    .textarea[contenteditable]:empty::before {
      content: 'note…';
    }

    &:focus {
      outline: none;
    }

    &.collabarator {
      padding: 0 !important;
    }
  }

  &_header {
    width: 100%;
    display: none;

    &.show {
      display: flex;
      justify-content: flex-end;
      visibility: visible;
      padding: 5px 0 0 10px;
    }

    .textarea {
      font-weight: $font-weight-medium;
    }

    .textarea[contenteditable]:empty::before {
      content: 'enter a title';
    }
  }

  &_row {
    width: 100%;
    display: none;

    div {
      width: 85% !important;
    }

    &.open {
      display: flex;
    }
  }

  &_chips {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 98%;
    margin: 0 20px;
  }
}

.textarea {
  width: 100%;
  font-size: inherit;
  padding: 1px 5px;
  outline: none;
  margin: 10px 0;
  display: block;
  overflow: hidden;
  resize: none;
  min-height: 20px;
  line-height: 20px;

  &:focus {
    outline: none;
  }
}

.textarea[contenteditable]:empty::before {
  color: $gray-color4;
  font-weight: $font-weight-normal;
}

.main_tools {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;

  .icon_btn {
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 0;
    margin: 0 10px;
    position: relative;
    cursor: pointer;

    svg {
      width: 16px;
    }

    &:hover {
      background: rgb(235, 235, 235);

      svg {
        fill: $primary-black;
      }
    }
  }
}

.input_navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2.5px 15px 2.5px 5px;

  &.hide {
    display: none;
  }

  &.shadow {
    box-shadow: 0 -10px 5px -10px rgba(100, 100, 100, 0.5);

    margin-top: 3px;
    padding: 2.5px 20px 3px 10px !important;
  }

  .main_tools {
    position: relative;
  }

  .icon_btn {
    padding: 10px;
    margin: 0;
  }

  .btn {
    border-radius: 0;
  }

  .icon_rotate {
    transform: scaleX(-1);
  }
}

.toltip {
  background: $primary-black;
  padding: 8px 5px;
  position: absolute;
  top: 30px;
  left: 72px;
  color: $color-white;
  display: none;
  border-radius: 8px;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);

  svg {
    width: 15px;
    height: 12px;
    margin-right: 8px;
  }

  a {
    color: $color-white;
    font-weight: $font-weight-normal;
  }

  a:hover {
    color: $color-white !important;
    border-bottom: 1px solid $color-white;
  }
}

.show {
  display: block;
}

.popover_content {
  li {
    padding: 3px 10px;
    cursor: pointer;
  }
}

.labels {
  width: 100%;
  position: relative;
  padding: 5px 0 0 10px;

  .user {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: rgb(125, 125, 125);
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 0 3px rgb(125, 125, 125);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
  }
}

.colorWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  box-shadow: 0 0 5px #d0d2d3;

  button {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin: 2px;
    border: 1px solid rgb(175, 175, 175);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .activeColor {
    border: 2px solid rgb(100, 75, 130);
    box-shadow: 0 0 2px rgb(100, 75, 130);
  }
}

.labelWrapper {
  width: 250px;
  padding: 10px 12px;
  overflow: hidden !important;

  h5 {
    font-size: 13px;
    font-weight: 600;
    font-family: 'Roboto';
  }
}

.item {
  height: 175px;
  overflow-y: scroll;
}

.labelSearch {
  display: grid;
  grid-template-columns: 11fr 1fr;
  width: 100%;
  padding: 7px 0 8px;

  input {
    margin-right: 5px;
    border-color: transparent;
    padding-left: 0;
  }
}

.labelItems {
  padding: 0 !important;

  label {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

    input {
      display: none;
    }

    span {
      padding-left: 7.5px;
    }
  }
}

@include desktop {
  .main {
    &_input {
      width: 750px;
      max-width: 750px;
    }

    &_header {
      &.show {
        padding: 10px 0 0;
      }
    }
  }

  .main_tools {
    .icon_btn {
      width: 35px;
      height: 35px;
      padding: 0;
      margin: 0 5px;

      svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  .input_navbar {
    padding: 4px 15px 4px 5px;

    .icon_btn {
      padding: 8px;
      margin: 0;
    }
  }
}

@include desktop {
  .labels {
    padding: 10px 0 0 10px;
  }

  .main {
    &_input {
      width: 550px;
      max-width: 550px;
    }

    &_header {
      &.show {
        padding: 10px 0 0 10px;
      }
    }
  }

  .main_tools {
    .icon_btn {
      width: 35px;
      height: 35px;
      padding: 0;
      margin: 0 8px;

      svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  .input_navbar {
    padding: 4px 15px 4px 5px;

    .icon_btn {
      padding: 7px;
      margin: 0;
    }
  }

  .colorWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    box-shadow: 0 0 10px #d0d2d3;

    button {
      width: 32px;
      height: 32px;
      border-radius: 100%;
      margin: 2px;
      border: 1px solid rgb(175, 175, 175);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .activeColor {
      border: 2px solid rgb(100, 75, 130);
      box-shadow: 0 0 2px rgb(100, 75, 130);
    }
  }

  .item {
    height: 225px;
  }
}

@include desktop-large {
  .labels {
    padding: 10px 0 0 12px;
  }

  .main {
    &_input {
      width: 750px;
      max-width: 750px;
    }

    &_header {
      &.show {
        padding: 10px 0 0 12px;
      }
    }
  }

  .main_tools {
    .icon_btn {
      width: 40px;
      height: 40px;
      padding: 0;
      margin: 0;

      svg {
        width: 16.5px;
        height: 16.5px;
      }
    }
  }

  .input_navbar {
    .icon_btn {
      padding: 8px;
    }
  }
}

.defaultPin {
  position: absolute;
  transform: translate(-36%, 40%);
  padding: 0;
}

.close {
  padding: 0;
}

.bottom_tools {
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon_btn {
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 0;
    margin: 0 10px;
    position: relative;
    
    &:hover {
      background: rgb(235, 235, 235);
    }

    svg {
      width: 18px;
    }
  }
}
