@import '/src/styles/base/mixins';
@import '/src/styles//base/variables';

$li-padding: 18px 20px;
$base-nav-z-index: 5;

.backdrop {
  position: fixed;
  top: 0;
  right: -125%;
  background: rgba(10, 10, 10, 0.6);
  height: 100vh;
  width: 100vw;
  z-index: $base-nav-z-index + 5 !important;
  display: flex;
  align-items: center;
  
  &.isOpen {
    right: 0;
  }
}

.popup {
  pointer-events: initial;
  background: $color-white;
  
  margin: 0 auto;
  padding: 0 !important;
  z-index: $base-nav-z-index + 5 !important;
  max-height: 95vh;
  position: relative;
  
  &.cartmodal {
    width: 95%;
    border-radius: 15px;
  }
  
  &.top {
    z-index: $base-nav-z-index + 10 !important;
  }

  &.large {
    @include media($sm) {
      min-width: 628px;
      max-width: 628px;
      margin: 30px auto;
      padding: 0 73px 65px;
    }
  }

  &.hide {
    display: none;
  }

  &-container {
    pointer-events: none;
    position: fixed;
    top: 0;
    right: -125%;
    background: rgba(0, 0, 0, 0.47);
    height: 100vh;
    width: 100vw;
    z-index: $base-nav-z-index + 10 !important;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);

    &.isOpen {
      right: 0;
    }
  }

  &__title {
    line-height: 1.2;
    font-weight: $font-weight-bold;
    font-family: 'Roboto';
    text-align: center;
    margin-left: 16px;
    
    &.left {
      text-align: left !important;
      font-size: 18px;
    }
  }

  &__input {
    & + & {
      margin-top: 46px;
    }
  }

  &__switch {
    margin-top: 38px;
  }

  &__forgot {
    display: inline-block;
    color: $color-black;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 1px;
    margin-top: 65px;
  }

  &__bottom {
    border-top: 3px solid $color-black;
    padding-top: 66px;
    margin-top: 26px;
  }

  &__btn {
    font-size: 28px;
    line-height: 1.2;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;

    > svg {
      transform: rotate(180deg);
      height: 22px;
      width: 26px;
      margin-left: 15px;
    }
  }

  &_exit_icon {
    position: relative;
    float: right;
    cursor: pointer;
    margin-right: 10px;
    width: 20px !important;
  }
}
