@import '/src/styles/base/mixins';
@import '/src/styles/base/variables';

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 62.5%;
  line-height: 1.15;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-transform: none; // mac ff fix
  -webkit-font-smoothing: antialiased; // safari mac nicer
  -moz-osx-font-smoothing: grayscale; // fix fatty ff on mac
  // Have no visual effect

  line-height: 1;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-variant: normal;
  // Wrong visual effect:

  -webkit-font-smoothing: subpixel-antialiased !important; //more fatty in safari
  text-rendering: geometricPrecision !important; //more fatty in safari
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

svg {
  box-sizing: initial !important;
}

body {
  background: $color-white;
  line-height: em(27, 18);
  color: $primary-black;
  width: 100%;
  margin: 0 !important;
  padding: 0;
  overflow-x: hidden !important;
  position: relative;

  @include tablet-landscape() {
    // font-size: 20px;
    line-height: em(32, 20);
  }

  .no-scroll {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    &.page:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      background: rgba(0, 0, 0, 0.47);
    }
  }
}

.page {
  min-width: 320px;
  width: 100%;
  // overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
}

a {
  transition: $transition;
  text-decoration: none;
  color: $gray-color4;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: $gray-color4;
  }
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;

  li {
    position: relative;
    padding: 0;
    margin: 0;
  }
}

img {
  height: auto;
  width: auto;
}

// svg path {
//   fill: $gray-color1;
// }

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

button {
  outline: none !important;
  border: 0;
  margin: 0;
  outline: none;
  background: transparent;
  color: inherit;
  font-weight: inherit;
  cursor: pointer;
}

label {
  margin-bottom: 1rem;
}

input:focus {
  outline: none;
}

textarea {
  font: 400;
}

.scroll-bar {
  &::-webkit-scrollbar {
    width: 8px;
    padding: 2px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $gray-color2;
    border-radius: 30px;
    padding: 2px;
  }
}

.errorMessage {
  position: fixed;
  top: -40%;
  left: 50%;
  transform: translatex(-50%);
  border: 1px solid rgb(100, 100, 100);
  border-radius: 5px;
  box-shadow: 0 0 15px rgb(100, 100, 100);
  background: #fff;
  min-width: 350px;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  transition: all 0.6s ease;
  z-index: 1000;

  div {
    svg {
      transform: translateY(35%);
    }
  }

  &.active {
    top: 1%;
    transition: all 0.3s ease;
  }
}

.DraftEditor-editorContainer {
  z-index: inherit;
}

.public-DraftStyleDefault-ul {
  margin-top: 0 !important;
}

@include desktop {
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
}

@include desktop {
  .open {
    padding-left: 225px !important;
  }
}

@include desktop-large {
  .open {
    padding-left: 125px !important;
  }
}
