@import '/src/styles/base/variables';
@import '/src/styles/base/mixins';

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
  margin-bottom: $headings-margin-bottom;
  text-transform: uppercase;
}

.desc {
  font-family: Proxima Nova, sans-serif;
  color: $color-gray;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.4px;
  font-weight: 400;
  padding: 0 20px;
  margin-top: 15px;
  font-weight: 300;
}
